footer {
    background-color: #E3E2DF;
    color: #0b0a0a; 
    padding: 20px; 
    text-align: center; 
}

p{
    color:#4ccbee9c
}


.pie-de-pagina {
    display: flex; 
    justify-content: space-between; 
    max-width: 800px; 
    margin: 0 auto;
}

.integrantes{

    p{
        color:#364d99
    }
    

}

.materia{
    p{
        color:#364d99
    }
}


.pie-de-pagina p {
    margin-bottom: 10px;}

